body{


	background-repeat: no-repeat;
	background-size:cover;
	/* background-attachment: fixed; */
	background-position: top right;
}

.contactpic {
	display: block;
	position: relative;
	margin-top: 24em;
	margin-left: 4.5%;
	max-width: 40%;
	float: left;
	margin-right: 55.5%;

}

.content {
display: block;
position: relative;
float: left;
max-width: 30%;
height: 40em;
margin-top: 2em;
margin-left: 5%;
}

.description{
  max-width: 40em;
}

#footer {
	top:70em;
}

.sociallogoimage{
	float: left;
	margin-right: 2%;
}

.item3 a{
text-decoration: line-through;
}

@media (max-width: 989px) {
#footer {
	top: 90em;
}
.content {
	left: 20%;
	max-width: 60%;
}
}

@media (max-width: 490px) {
#footer {
	top: 80em;
}
.content {
	left: 10%;
	max-width: 80%;
}
}

@media (max-width: 350px) {
#footer {
	top: 75em;
}
.content {
	left: 5%;
	max-width: 90%;
}
}
