/*Content*/

#Content {
	position:relative;
	top:370px;
	left:25.6%;
	width:63%;
	height:30px;
	z-index:1;
	padding:20px;
	border: none 2px solid;
	/* background-color:#FFFFFF; */
}

body{
	/* background-color: #FFF2EB; */
	/* background-image: url("../img/chair_2.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	/* background-attachment: fixed; */
	background-position: center top;
	    /* background-position-x: 1000%; */
	/* height: 100%; */
	/* width: 100%; */

}

.dropArrow {
	display: inline-block;
	margin-top: 2em;
	width: 100%;
	align-items: center;
	text-align:center;
}

.dropArrow img {
	margin: auto;
	text-align:center;
	width: 3%;
	height: 2em;
	opacity: 1;
}


.GalleryTitle {
	display: inline-block;
	/* background: grey; */
		margin-top: 20em;
		width: 100%;
		margin-left: 5%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-left: 5%;
  /* padding: 0 0.25em; */
}

/* Create four equal columns that sits next to each other */

.column {

	position: relative;
  flex: 25%;
  max-width: 25%;
  /* padding: 0 0.25em; */
}

.column img {
  /* margin-top: 8px; */
  vertical-align: middle;
  width: 95%;
  margin-bottom: 1em;
}

.content {
	position: relative;
	background-color: rgba(158, 146, 143, 0.15);
	/* color: rgb(230, 230, 230); */
	color: black;
	display: inline-block;
	padding: 5em 4em;
	width: 35%;
	/* margin-top: 10em; */
	align-items: center;
	line-height: 1.7em;

	top: 10em;
	left: 50%;


}

.content h2 {
	text-align: center;
	margin-bottom: 1em;
}

.item1 a {
text-decoration: line-through;
}

.para {
	display: block;
	position: relative;
	float: left;
	clear: left;
	margin-top: 1em;
	margin-left: 5%;
	font-size: 1.3em;
	font-weight: normal;
	width: 100%;

}

.para01{

		max-width: 40em;
}

.namepic {
	display: block;
	position: relative;
	margin-top: 24em;
	margin-left: 5%;
	max-width: 40%;
	float: left;
	margin-right: 55%;

}

.project1{
	display: block;
	position: relative;
	margin-top: 10em;
	margin-left: 5%;
	max-width: 40em;
	float: left;
	/* clear: left; */
}

.iat336_2{
	height: 15em;
}

.iat336_2 img{
	height: 100%;
}

.oslo2{
	height: 15em;
}

.oslo2 img{
	height: 100%;
}

/*The Prperty tax title*/
#sidenavtext h3 {
	margin: 0 auto;
	margin-bottom: 1.17rem;
	margin-top: 1rem;
}

#footer {
	top:100em;

}

@media (max-width: 3000px) {
.chairBgImage {
	display: none;

}
}

@media (max-width: 1920px) {
#footer {
top: 90em;
}
}

@media (max-width: 1500px) {
#footer {
top: 80em;
}
}
@media (max-width: 1300px) {
	#footer {
	top: 60em;
	}
}
@media (max-width: 989px) {
	#footer {
		top: 25em;
	}

.chairBgImage {
	display: block;
	margin-left: auto;
	margin-right: auto;

}
.BgImgWrap {
	width: 100%;
	/* clear: center;
	/* float: center; */
	margin-top: 10em;
	float:left;
	margin-left: auto;
	margin-right: auto;

}
}

@media (max-width: 650px) {

.chairBgImage {
	width: 80%;
	height: auto;
}
}

@media (max-width: 480px) {
	#footerlinkleft {
		left:35%;
	}
	#footerlinkright {
		left:60.5%;
	}
}

@media (max-width: 420px) {
}
.ImageContainer {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 15%;

	margin-left:33%;
  position: relative;
  justify-content: space-between;
  top: 34em;
}

.projectImages {
  /* / width: 30%; / */
  position: relative;
  max-width: 33%;
  min-width: 20em;
  /* / min-width: 15em; / */
  /* / height: auto; / */
  /* / margin: 1%; / */
}

.projectAnalyse {
  width: 90%;
  margin-left: 5%;
}

.flexImage {
  width: 100%;
  height: auto;
}

.p01description{
	display: block;
	position: relative;
	float: right;
	margin-top: 9%;
	margin-right: 1%;
	max-width: 36em;
	font-size: 1.2em;
	font-weight: bold;
	clear: top;
}

.p01title{
	position: relative;
	float: right;
	font-size: 2em;
	margin-top: none;
}

.project2{
	position: relative;
	/* margin-left: 48%; */
	max-width: 40em;
	margin-top: 5em;
	/* margin-right: 10% */
	float: right;
	clear: right;
	margin-right: 22%;
}

.project2_2{
	position: relative;
	/* margin-left: 48%; */
	max-width: 40em;
	margin-top: 2em;
	/* margin-right: 10% */
	float: right;
	clear: right;
	margin-right: 22%;
}

.p02description{
	display: block;
	position: relative;
	float: left;
	margin-top: -3em;
	margin-left: 5%;

	max-width: 45em;
	font-size: 1.2em;
	font-weight: bold;
}

.p02description h1{
	font-size: 3em;
}

@media screen and (max-width: 1000px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 800px) {
.namepic {
	display: inline-block;
	width: 90%;
	max-width: 100%;
	height: auto;
	margin-right: 5%;
}

	.namepic img {
		width: 100%;
		height: auto;
	}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
