body{

	/* background-image: url("../img/product3_bg.jpg"); */
	background-repeat: no-repeat;
	background-size:cover;
	/* background-attachment: fixed; */
	background-position: top right;

}


.number{
	position: relative;
	display: block;
	position: relative;
	margin-top: 10em;
	margin-left: 5%;
	max-width: 40%;
	float: left;

}

.number01{
	font-size: 6em;
}

.number01:hover a {
	color: grey;
}

.number02{
font-size: 6em;
margin-top: 3em;
}

.number02:hover a{
	color: grey;
}

.context01{
	font-size: 1.4em;
}

.context01:hover a{
	text-decoration: line-through;
}

.context02{
	font-size: 1.4em;
}

.context02:hover a{
	text-decoration: line-through;
}

.role01{
		font-size: 1.4em;
}

.role01:hover a{
	text-decoration: line-through;
}

.role02{
		font-size: 1.4em;
}

.role02:hover a{
	text-decoration: line-through;
}

.P01overview {
	float: right;
	width: 70%;
	margin-right: 30%;
}

.P01overview img {
		width: 100%;
		height: auto;
		filter: grayscale(100%);
		margin-bottom: 1em;

}


.P02overview {
	float: right;
	width: 70%;
	margin-right: 30%;
}

.P02overview img {
		width: 100%;
		height: auto;

}

.content {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	position: relative;
	float: left;
	left: 15%;
	margin-top: 9em;


}

.newsBlock {
	position: relative;
display: flex;
 align-items: center;
height: 20em;

margin-bottom: 5em;

}

.newsImage {
	/* display: inline-block; */

height: 100%;
/* margin: 2em; */
/* width: 50%; */
width: 40%;

}

.newsImage img {
	height: 100%;
	width: auto;
}

.newsContent {
margin: 2em;

}

.date {
	color: grey;
	height: 0.5em;

}

.description{
  /* max-width: 40em; */
}


.buttons{
background: white;
}



.buttonBuy {
		background-color:white;
		border: 2px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 20px;
		margin: 45px 4px;

}
.buttonBuy:hover{
	color: grey;
	border:2px solid grey;
}

#footer {
	top:30em;

}

.item5 a{
text-decoration: line-through;
	/* padding-bottom: 6px; */
}

@media (max-width: 1920px) {
/* .content {
	left: 0%;
	width: 70%;
}
.newsBlock {
height: 15em;
} */

.content {
	width: 55%;
}
.newsBlock {
height: 15em;
}
}
}


@media (max-width: 1707px) {
.content {
	left: 15%;
	width: 70%;
}
.newsBlock {
height: 15em;
}
}

@media (max-width: 1317px) {
.content {
	left: 10%;
	width: 80%;
}
.newsBlock {
height: 20em;
}
}

@media (max-width: 1099px) {
	.newsContent {
		clear: left;
		float: left;
	}

	.hidden {
		display: none;
		width: 200%;
	}

	.content {
		flex-flow: row;
		left:5%;
		width: 90%;
		flex-wrap: wrap;
	}
	.newsBlock {
		flex-flow: column;
		width: 100%;
		height: 25em;
		margin-bottom: 15em;
		/* margin-right: 3%; */
		 /* align-items: left; */
	}
	.newsImage {

		margin: 1em;
		margin-bottom: 0em;
	}
	.newsContent {
		margin-top: 0em;
	}
	.hiddenContent {
		display:none;
	}
.newsBlock {
/* height: 20em; */
}
}



@media (max-width: 989px) {
.content {
	left: 5%;
	width: 90%;
}
.newsBlock {
height: 20em;
}
}

@media (max-width: 800px) {

	.namepic img {
		width: 100%;
		height: auto;
	}
	.content {
		flex-flow: row;
		left:5%;
		width: 90%;
		flex-wrap: wrap;
	}
	.newsBlock {
		flex-flow: column;
		width: 100%;
		height: 25em;
		/* margin-right: 3%; */
		 /* align-items: left; */
	}
	.newsImage {
		margin: 1em;
		margin-bottom: 0em;
	}

	.newsImage img {
		width: 100%;
		height: auto;
	}
	.newsContent {
		margin-top: 0em;
	}
	.hiddenContent {
		display:none;
	}
.newsBlock {
/* height: 20em; */
}
}
